.navcontainer{
    width:100%;
    height: 300px;
    border:1px solid blue;
    justify-content: center;
    align-items: center;
}
.topnav{
    border:1px solid red;
    width: 100%;
    height:40px;
    padding-top: 10px;
}
/* .secondnav{
    display: flex;
} */
.urbannav{
    border:1px solid green;
    width: 100%;
    height:40px;
    padding-top: 30px;
}
.links{
    border:1px solid green;
    width: 70%;
    margin: auto;
    display: flex;
    padding-top: 12px;
    height:40px;
    justify-content: space-around;
    align-items: center;
}
.links > p:hover{
    cursor: pointer;
    text-decoration: underline;
}